In [2]:
#1 import numpy as np and version
import numpy as np
np.__version__

'1.14.3'

In [16]:
#2 create a 1D array
arr = np.array(range(10))
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [6]:
#3 create a boolean array
np.full((3,3), True, dtype=bool)

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

In [7]:
np.ones((3, 3), dtype=bool)

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

In [11]:
#4 extract items which satisfy a given condition
arr_4 = arr[arr%2 == 1]
print(arr_solution)

[1 3 5 7 9]

In [22]:
#5 replace items that satisgy a condition
arr[arr%2 == 1] = -1
arr

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

In [27]:
#6 5.without affecting the original array
arr = np.array(range(10))
arr_6 = np.where(arr%2 == 1, -1, arr)
print(arr)
arr_6

[0 1 2 3 4 5 6 7 8 9]

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

In [29]:
#reshape a array
arr.reshape(2, -1)
#Setting to -1 automatically decides the number of cols

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [30]:
#8 stack two arrays vertically
a = np.arange(10).reshape(2, -1)
b = np.repeat(1, 10).reshape(2, -1)
np.r_[a, b]

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]])

In [31]:
#9 stack horizontally
np.c_[a, b]

array([[0, 1, 2, 3, 4, 1, 1, 1, 1, 1],
       [5, 6, 7, 8, 9, 1, 1, 1, 1, 1]])

In [37]:
#10 custom sequences
arr_10 = np.array([1, 2, 3])
arr10 = np.r_[np.repeat(arr_10, 3), np.tile(arr_10, 3)]
arr10

array([1, 1, 1, 2, 2, 2, 3, 3, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3])

In [38]:
#11 get the common items
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
np.intersect1d(a, b)

array([2, 4])

In [3]:
#12remove from one array those items exist in another
a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])
np.setdiff1d(a, b)

array([1, 2, 3, 4])

In [6]:
#13get the positions where elements of match
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])
np.where(a==b)
a[np.where(a == b)]

array([2, 2, 4, 4])

In [7]:
#14 extract all numbers between a given range
a = np.array([2, 6, 1, 9, 10, 3, 27])
a[(a>= 5)&(a<=10)]

array([ 6,  9, 10])

In [8]:
#15 make a python function that handles scalars to work on numpy arrays
#np.vectorize(func, otypes=[float])
def maxx(x, y):
    """Get the maximum of two items"""
    if x >= y:
        return x
    else:
        return y

pair_max = np.vectorize(maxx, otypes=[float])

a = np.array([5, 7, 9, 8, 6, 4, 5])
b = np.array([6, 3, 4, 8, 9, 7, 1])

pair_max(a, b)

array([6., 7., 9., 8., 9., 7., 5.])

In [14]:
#16 swap two columns in a 2d numpy array
arr = np.arange(9).reshape(3,3)
arr[:,[1,0,2]]

array([[1, 0, 2],
       [4, 3, 5],
       [7, 6, 8]])

In [15]:
#17 swap two rows in a 2d numpy arrays
arr = np.arange(9).reshape(3,3)
arr[[1,0,2], :]

array([[3, 4, 5],
       [0, 1, 2],
       [6, 7, 8]])

In [22]:
#18 reverse the rows of 2d array
arr = np.arange(8).reshape(4, -1)
arr[::-1]

array([[6, 7],
       [4, 5],
       [2, 3],
       [0, 1]])

In [23]:
#reverse the columns of 2d array
arr[:, ::-1]

array([[1, 0],
       [3, 2],
       [5, 4],
       [7, 6]])

In [25]:
#20 create a 2d array containing random floats between 5 and 10
rand_arr = np.random.uniform(5, 10, size = (5,3))
rand_arr

array([[8.27319217, 7.46600353, 8.90389249],
       [9.40211256, 8.2870043 , 5.34215737],
       [6.88108475, 7.3774024 , 7.92605332],
       [6.17707968, 6.5855062 , 7.72793966],
       [6.32033263, 7.53948546, 5.23034074]])

In [26]:
#21 print only 3 decimal places
rand_arr = np.random.random([5,3])
np.set_printoptions(precision=3)
rand_arr

array([[0.414, 0.842, 0.237],
       [0.569, 0.815, 0.067],
       [0.311, 0.976, 0.672],
       [0.792, 0.991, 0.297],
       [0.456, 0.854, 0.343]])

In [32]:
#22 suppressing the scientific notaion
np.set_printoptions(suppress = True, precision = 6)
np.random.seed(100)
rand_arr = np.random.random([3,3])/1e3
rand_arr

array([[0.000543, 0.000278, 0.000425],
       [0.000845, 0.000005, 0.000122],
       [0.000671, 0.000826, 0.000137]])

In [16]:
#23 limit the number of items pritned in output of numpy array
b = np.arange(15)
np.set_printoptions(threshold=6)
b

array([ 0,  1,  2, ..., 12, 13, 14])

In [17]:
#24 without truncating
np.set_printoptions(threshold=np.nan)

In [20]:
#25 import a dataset with numbers and texts keeping the text intact 
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = np.genfromtxt(url, delimiter=',', dtype='object')
names = ('sepallength', 'sepalwidth', 'petallength', 'petalwidth', 'species')
iris[:3]

array([[b'5.1', b'3.5', b'1.4', b'0.2', b'Iris-setosa'],
       [b'4.9', b'3.0', b'1.4', b'0.2', b'Iris-setosa'],
       [b'4.7', b'3.2', b'1.3', b'0.2', b'Iris-setosa']], dtype=object)

In [23]:
#26 extract a particular column
species = np.array([row[3] for row in iris])
species[:5]

array([b'0.2', b'0.2', b'0.2', b'0.2', b'0.2'], dtype='|S3')

In [25]:
#convert a 1d array to a 2d array
iris_2d = np.array([row.tolist()[:4] for row in iris])
iris_2d[:4]

array([[b'5.1', b'3.5', b'1.4', b'0.2'],
       [b'4.9', b'3.0', b'1.4', b'0.2'],
       [b'4.7', b'3.2', b'1.3', b'0.2'],
       [b'4.6', b'3.1', b'1.5', b'0.2']], dtype='|S3')

In [27]:
#28 compute the mean, median, standard, deviation
sepallength = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0])
mean, med, sd = np.mean(sepallength), np.median(sepallength), np.std(sepallength)
print(mean, med, sd)

5.843333333333334 5.8 0.8253012917851409

In [32]:
#29 normalize an array so the values range exactly between 0 and 1
s_min = sepallength.min()
solution = (sepallength - s_min)/sepallength.ptp()
print(solution[:5])

[0.22222222 0.16666667 0.11111111 0.08333333 0.19444444]

In [34]:
#30 compute the softmax score
def softmax(x):
    e_x = np.exp(x - np.max(x))
    return e_x / e_x.sum(axis = 0)
softmax(sepallength[:5])

array([0.24997382, 0.20466126, 0.16756246, 0.15161679, 0.22618567])

In [37]:
#31 find the percentile scores of a numpy array
np.percentile(sepallength, q=[5, 95])

array([4.6  , 7.255])

In [39]:
#32 insert values at random positions in an array
i, j = np.where(iris_2d)
np.random.seed(100)
iris_2d[np.random.choice((i), 20), np.random.choice((j), 20)] = 999
iris_2d[:10]

array([[b'5.1', b'3.5', b'1.4', b'0.2'],
       [b'999', b'3.0', b'1.4', b'0.2'],
       [b'4.7', b'3.2', b'1.3', b'0.2'],
       [b'4.6', b'3.1', b'1.5', b'0.2'],
       [b'5.0', b'3.6', b'1.4', b'0.2'],
       [b'5.4', b'3.9', b'1.7', b'0.4'],
       [b'4.6', b'3.4', b'1.4', b'0.3'],
       [b'5.0', b'3.4', b'1.5', b'0.2'],
       [b'4.4', b'2.9', b'1.4', b'0.2'],
       [b'4.9', b'3.1', b'1.5', b'0.1']], dtype='|S3')

In [46]:
#33 find the position of missing values
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_2d = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0, 1, 2, 3])
iris_2d[np.random.randint(150, size=20), np.random.randint(4, size=20)] = np.nan
print("number of missing values: \n", np.isnan(iris_2d[:, 0]).sum())
print("Position of missing values: \n", np.where(np.isnan(iris_2d[:, 0])))

number of missing values:
 4
Position of missing values:
 (array([ 38,  48,  60, 112]),)

In [47]:
#34 filter a numpy attay based on two or more conditions
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_2d = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0,1,2,3])

# Solution
condition = (iris_2d[:, 2] > 1.5) & (iris_2d[:, 0] < 5.0)
iris_2d[condition]

array([[4.8, 3.4, 1.6, 0.2],
       [4.8, 3.4, 1.9, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [4.9, 2.4, 3.3, 1. ],
       [4.9, 2.5, 4.5, 1.7]])

In [ ]:
drop rows that contain a missing value
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_2d = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0,1,2,3])

# Solution
condition = (iris_2d[:, 2] > 1.5) & (iris_2d[:, 0] < 5.0)
iri